* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  color: #1a1c1d;
}

.input-success {
  border-bottom: 1px solid #28c345 !important;
}

.input-error {
  border-bottom: 1px solid #ff808b !important;
}
